<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839429895535-vkkr432c6cm3nr0pr8vqi0eud23k75rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839429895535-vkkr432c6cm3nr0pr8vqi0eud23k75rh</string>
	<key>API_KEY</key>
	<string>AIzaSyD8CPfmDAXJTIBYj234_9d0mpN3t3fgXTU</string>
	<key>GCM_SENDER_ID</key>
	<string>839429895535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.socialweb.cntvkidsapp</string>
	<key>PROJECT_ID</key>
	<string>cntvkids-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cntvkids-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839429895535:ios:f3f0572845782a293ee49a</string>
</dict>
</plist>